.hamburger.container {
    width: 20px;
    height: 20px;
    margin: 8px 0px;
    cursor: pointer;
    .box {
        width: 25px;
        height: 4px;
        background: white;
        margin: 5px 0px;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    }
}