ul.project-list {
    width: 100%;
}


/* Project Item */

li.project-item {
    background: rgba(255,255,255,0.5);
    text-decoration: none;
    list-style: none;
    margin-bottom: 2em;
    margin-left: 0;
    padding: 15px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: rgba(52, 58, 64, 1);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    border-radius: 3px; 
    max-width: 1000px;
}

li.project-item:before {
    filter: blur(4px);
    content: '';
}

.project-title {
    font-size: 25px;
}

.project-link {
    font-size: 15px;
    color: rgba(52, 58, 64, .9);
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
    padding: 6px 10px;
    border-style: none;
    margin-left: 10px;
    cursor: pointer;
}

.project-link img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

section.project-header {
    margin-bottom: 2em;
}

section.project-content {
    display: flex;
}

.project-img {
    margin: 0 1em 0 1em;
}

div.project-technologies {
    display: flex;
    justify-content: flex-end;
}


/* Technologies */

div.project-technologies .technology {
    display: inline;
    padding: 5px;
}

.technology img {
    height: 50px;
    width: 50px;
}
.technology img.node {
    padding: 3px;
    height: 50px;
    width: 50px;
    background-color: #8fc74f;
    border-radius: 4em;
}