.buttons {
    margin-top: 2em;
}


.pdf-content {
    margin-top: 15px;
}

.pdf {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    background: blue;
    border-radius: 1em;
    padding: 6px;
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
}

.pdf img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    padding-top: 3px;
}

.word {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    background: rgb(56, 170, 56);
    border-radius: 1em;
    padding: 6px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
}

.word img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    padding-top: 3px;
}