/* Bread Crumbs */

.current-page {
    font-weight: bold;
    margin-left: 5px;
    font-family: 'Product Sans Bold';
}

.breadcrumbs {
    font-size: 20px;
    font-family: 'Product Sans Regular';
    font-weight: 200;
    color: rgba(255,255,255,1.0);
    text-decoration: none;
    background: rgba(255,255,255,0.2);
    padding: 8px;
    margin: 0 0 5em 0;
    border-radius: 3em;
  }