body {
  margin: 0;
  padding: 0;
  background: url('https://i.imgur.com/osPV7yi.jpg');
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(255 , 150, 150, 0.3);
}

a {
  font-size: 20px;
  font-family: 'Product Sans Regular';
  font-weight: 200;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

section.content {
  margin: 5em 5em;
}

span.breadcrumbs {
  font-size: 20px;
  font-family: 'Product Sans Regular';
  font-weight: 200;
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  background: rgba(255,255,255,0.2);
  padding: 5px;
  margin: 0 0 5em 0;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .nav-item a
  {
    font-size: 3em;
    margin: 3px 10px;
  }
  section.content {
    margin: 2em 0;
  }
  ul.project-list {
    margin: 2em 0 0 0; 
    padding: 0;
  }
  .title {
    font-size: 4.25em;
    /* color: blue; */
  }
  .subtitle {
    font-size: 2.5em;
  }
}
/*   

  .nav-item a
  {
    font-size: 3em;
    margin: 0px 10px;
  }
  section.content {
    margin: 2em 0;
  }
  ul.project-list {
    margin: 2em 0 0 0; 
    padding: 0;
  }
  .title {
    font-size: 4.25em;
  }
  .subtitle {
    font-size: 2.5em;
  } */
  