body {
  margin: 0;
  padding: 0;
  background: url('https://i.imgur.com/osPV7yi.jpg');
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(255 , 150, 150, 0.3);
}

a {
  font-size: 20px;
  font-family: 'Product Sans Regular';
  font-weight: 200;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

section.content {
  margin: 5em 5em;
}
.sticky-container  {
  z-index: 2;
  position: sticky;
  top: 14px;
  margin-left: 10px;
  width: 400px;
  margin-right: 0px;
}

// Desktop

@media (min-width: 800px) {
  .hamburger.container {
    display: none;
  }
}

// Mobile

@media (max-width:800px) {
  .navbar {
    // display: inline-block;
    width: auto;
    height: auto;
    right: 0px;
    &-opaque {
      overflow: auto;
      width: auto;
      height: auto;
    }
  }
  .navbar-opaque {
    right: 0px;
  }
  .item-list {
    display: flex;

    .nav-item {
      display: none; 
      &:last-child {
        display: block;
      }
    }
  }

  // Expanded

  .hambuger.container-expanded {
    display: block;
    float: right;
  }
  ul.item-list-expanded {
    display: block;
    justify-content: flex-end;
  }

  li.nav-item-expanded {
    display: block; 
    a {
      font-size: 28px;
      margin-right: 20px;
    }
  }

  .nav-item a
  {
    font-size: 26px !important;
    margin: 3px 8px;
    display: none;
  }
  .hambuger.container {
    display: block;
  }

  .sticky-container  {
    display: none;
  }

  section.content {
    margin: 7em 0;
  }
  ul.project-list {
    margin: 2em 0 0 0; 
    padding: 0;
    max-width: 100vw;
    overflow: hidden;
  }
  li.project-item {
    width: 100%
  }
  .project-technologies {
    display: flex;
    justify-content: flex-end;
    .technology {
        display: inline;
        padding: 5px;
        img {
            height: 25px;
            width: 25px;
        }
    }
  }
  .project-img {
    width: 339px;
    height: 222px;
  }
  .project-title {
    font-size: 20px !important;
  }
  .title {
    font-size: 4em;
  }
  .title-container {
    margin-top: 100px;
  }

  .subtitle h4 {
    margin-bottom: 0.5em;
  }

  .subtitle {
    font-size: 2em;
    display: inline-block;
  }
  .buttons {
    margin-top: 1em;
  }

  .pdf-content {
    border-radius: 0em;
  }
}
  